SPRING_ENV=dev
SPRING_APP_NAME=AuthMicroservice
SPRING_LOG_LEVEL=INFO

SPRING_JWT_ISSUER=login-service
SPRING_JWT_PUBLIC=/api/v1/health,/v3/api-docs/**,/swagger-ui/**,/actuator/**
SPRING_JWT_SECRET=secret-key
SPRING_JWT_EXPIRATION=3600000
SPRING_EUREKA_URL=http://localhost:8123/eureka

HOST_PORT=8000
HOST_DB_PORT=3306

MYSQL_DATABASE=auth
MYSQL_HOST=localhost
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_USER=user

PHPMYADMIN_PORT=8088
DOCKER_DOMAIN_NETWORK=fullstack_network
