SPRING_ENV=dev
SPRING_APP_NAME=AuthMicroservice
SPRING_LOG_LEVEL=WARN

SPRING_JWT_ISSUER=login-service
SPRING_JWT_PUBLIC=/api/v1/health,/api/v1/auth,/v3/api-docs/**,/swagger-ui/**
SPRING_JWT_SECRET=secret-key
SPRING_JWT_EXPIRATION=3600000

HOST_PORT=8082
HOST_DB_PORT=3306

MYSQL_DATABASE=auth
MYSQL_HOST=localhost
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_USER=user

PHPMYADMIN_PORT=8088
